@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #2d2d2d;
  font-family: 'Crimson Text', serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
	 margin: 0;
	  padding:0;
	width: 100%;
}
a {
  color: #2d2d2d;
  text-decoration: none;
}

/* mainとfooterのコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}
.site-title {
  width: 110px;
  line-height: 1px;
  margin-right: 50px;
}
.site-title a {
  display: block;
}
.section-title {
  font-size: 2rem;
  font-weight:hard;
  margin-bottom: 4px;
}


.section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
/*
widthをvwで指定することで、画面幅を基準にした横幅になる
*/
#mainvisual img {
  width: auto;
  margin: 0 auto 30px auto;
	align-items: center;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  width: auto;
  display: flex;
  align-items: center;
  padding: 32px 15px;
  margin: 0 auto ;
	background-color: #202020;
	position: sticky;
	top:0;
	z-index: 10;

}
#header ul {
  display: flex;
	
}
#header li {
  font-size: 1.2rem;
  margin-right: 30px;
	
}


#header li a{color:#ffffff;}

#header h1 img{
	    width: 100%; 
    max-width: 70px; 
    height: auto;
    display: block;
}
/*
最後のliタグには margin-right を設定しない
*/
#header li:last-child {
  margin-right: 0;
}

#concept,
#product-title{
  scroll-margin-top: 100px;
}

/*-------------------------------------------
Concept、product
-------------------------------------------*/
.content {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.content .img {
  width: 50%;
}
.content .text {
  width: 50%;
  padding: 0 7%;
}

.section-title{margin-bottom: 30px;}
.section-title-en{font-size: 0.9rem;}

.product-title {margin-bottom:30px;text-align: center;font-size: 1.5rem;}
.product-title span{text-size:0.5rem;}

.section-title-en.price {
  font-size: 1.5rem; /* 好きなサイズに変更 */
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  display: flex;
  font-size: 0.875rem;
  padding: 30px 0;
	margin:0 auto;
	background-color: #202020;
	width:100%;
	text-align: center;
}
#footer .footer-site {
  width: 100%;
	margin: 10px 0px;
	
}


#footer a{color: #ffffff;}
.footer-container{display:grid; gap:40px;justify-items:center;width: 100%;}
.footer-menu{display:flex;flex-wrap:wrap;justify-content:center;gap:20px;}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual {
    width: 100%;
    margin: 0;
  }

  #mainvisual img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  /*-------------------------------------------
  Header
  -------------------------------------------*/
  #header {
    width: 100%;
    padding: 20px 18px;
  }

  /*-------------------------------------------
  Concept、product
  -------------------------------------------*/
  /*
  productはそのまま画像とテキストを縦に並べると、
  テキスト→画像の順番になるため、「flex-direction: column-reverse;」
  で逆順にする
  */
  #product {
    flex-direction:column-reverse;
  }
  .content {
    flex-direction: column;
  }
  .content .img {
    width: 100%;
    margin-bottom: 10px;
  }
  .content .text {
    width: 100%;
    padding: 0;
  }
	.text{text-align: center;}

  .section-title {
    font-size: 1.25rem;
  }
.section-title-en {
  display: inline-block;
  margin-bottom: 25px;

}	
	.section-title-en h3{font-size:1.2rem;}
	.section-title-en p{font-size:0.95rem;}
/*-------------------------------------------
Footer
-------------------------------------------*/	
	.footer-menu{font-size: 0.6rem;}
	.section-title {
  font-size: 2rem;
  font-weight:hard;
}

}
